# Базовые файлы Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Файлы сред разработки и настроек ОС
.idea/
.vscode/
Thumbs.db
Desktop.ini

# Дебаф изображения при калибровке экрана и расположении цп/хп/мп - барров
auto_calibrator\debug_images

version2\screenshots